
<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Speed Click</h1>
        <h3>Um jogo simples, fácil, porém desafiador!</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Descubra mais...</a>
    </div>
</header>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Speed Click é um jogo simples de entender, podendo ser jogado inclusive por crianças! No momento está em fase de desenvolvimento, mas já pode ser testado...</h2>
                <p class="lead">O jogo consiste em visualizar uma imagem <b>alvo</b> que aparecerá na tela e, dentre as opções disponíveis na parte inferior da tela, escolher a imagem correspondente.
                Mas não se iluda, existem fases fáceis, mas também há aquelas que exigem alto nível de reflexo e processamento de imagens!</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>OK, mas onde posso jogar?</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-android fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Android</strong>
                            </h4>
                            <p>O jogo estará disponível em breve na Play Store, no momento é possível baixar um .APK (instalador de pacotes do Android) e testar!</p>
                            <a href="http://52.25.19.44/speedclick/mob.apk" class="btn btn-light">Download .APK</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-windows fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Windows Desktop</strong>
                            </h4>
                            <p>Você pode baixar um zip contendo o executável do jogo e jogar como se fosse um programa do windows! Ainda faremos um instalador...</p>
                            <a href="http://52.25.19.44/speedclick/Desk.zip" class="btn btn-light">Download .ZIP</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-chrome fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Browser - WebGL</strong>
                            </h4>
                            <p>Jogue em qualquer Browser! A continuidade dessa versão ainda está sendo avaliada. Desempenho melhora muito com o <b>Firefox!</b></p>
                            <a href="http://52.25.19.44/speedclick/webgl" target="_blank" class="btn btn-light">Jogue agora!</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-firefox fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Browser - Unity3D plugin</strong>
                            </h4>
                            <p>Necessário instalar o Unity Web Player em seu Browser, entretanto os Browsers tendem a descontinuar isso. <a href="#" style="color:white"><u>Saiba mais...</u></a></p>
                            <a href="http://52.25.19.44/speedclick/" target="_blank" class="btn btn-light">Jogue agora!</a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Callout -->
<aside class="callout">
    <div class="text-vertical-center">
        <h1>Inspirado em OSU!</h1>
        <h3>Muitas ideias foram tiradas do OSU, um jogo de rítmo muito viciante. <a href="https://osu.ppy.sh/" target="_blank">Acesse a página principal do Osu!</a></h3>
    </div>
</aside>

<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Our Work</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="img/portfolio-1.jpg">
                            </a>
                            <h4>
                                <strong>Conheça a Interface do jogo!</strong>
                            </h4>
                           <!-- <p>Necessário instalar o Unity Web Player em seu Browser, entretanto os Browsers tendem a descontinuar isso. <a href="#" style="color:white"><u>Saiba mais...</u></a></p>-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="img/portfolio-2.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="img/portfolio-3.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
                <a href="#" class="btn btn-dark">View More Items</a>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Call to Action -->
<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>The buttons below are impossible to resist.</h3>
                <a href="#" class="btn btn-lg btn-light">Click Me!</a>
                <a href="#" class="btn btn-lg btn-dark">Look at Me!</a>
            </div>
        </div>
    </div>
</aside>

<!-- Custom Theme JavaScript -->
<script>
// Closes the sidebar menu
$("#menu-close").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});

// Opens the sidebar menu
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});

// Scrolls to the selected menu item on the page
$(function() {
    $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    });
});
</script>